html {
  --copy: data-uri("../../assets/copy.svg");
  --success: data-uri("../../assets/success.svg");
  --fail: data-uri("../../assets/fail.svg");
  --remove: data-uri("../../assets/remove.svg");
  --settings: data-uri("../../assets/settings.svg");
  --back: data-uri("../../assets/back.svg");
  --remove-white: data-uri("../../assets/remove-white.svg");
}