button {
  @apply outline-none bg-no-repeat;
  
  &.mod-settings {
    background-position: left 20px center;
    background-size: 20px 20px;
    background-image: var(--settings);
  }
  &.mod-clear-all {
    background-position: left 20px center;
    background-size: 20px 20px;
    background-image: var(--remove-white);
  }
  &.mod-copy {
    @apply bg-center;
    background-size: 20px 20px;
    background-image: var(--copy);

    &.mod-success {
      @apply w-auto bg-left pl-6 text-success pointer-events-none;
      background-image: var(--success);
    }

    &.mod-error {
      @apply w-auto bg-left pl-6 text-error pointer-events-none;
      background-image: var(--fail);
    }
  }
  &.mod-remove {
    @apply bg-center;
    background-size: 20px 20px;
    background-image: var(--remove);
  }
  &.mod-back {
    background-position: left 20px center;
    background-size: 20px 20px;
    background-image: var(--back);
  }
}