body {
  padding: 0 20px;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 40px;
}

header .button {
  padding-left: 35px;
  background-image: var(--back);
  background-size: 30px 30px;
  background-position: left center;
  background-repeat: no-repeat;
  outline: unset;
  color: initial;
  text-decoration: unset;
  appearance: none;
  margin-left: auto;
  font-size: 24px;
  min-height: 30px;
  cursor: pointer;
}

header .button:hover {
  filter: drop-shadow(0px 6px 6px rgba(0,0,0,0.25));
}

dl dt {
  margin-top: 20px;
  font-size: 18px;
}

dl dd {
  margin: 5px 0;
  font-size: 16px;
  user-select: none;
}

dl dd label {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 5px;
  cursor: pointer;
}

dl dd label::before,
dl dd label::after {
  position: absolute;
  width: calc(50% - 5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  color: var(--light);
  font-weight: bold;
}

dl dd label::before {
  content: "Yes"; 
  left: 10px;
}

dl dd label::after {
  content: "No";
  right: 10px;
}


dl dd label input[type='checkbox'] {
  cursor: pointer;
  position: relative;
  height: 50px;
  width: 100px;
  appearance: none;
  border: unset;
  outline: unset;
  background-color: var(--dark-light);
  margin: 0;
  display: flex;
  align-items: center;
  border-radius: 25px;
  transition: 0.3s background-color ease-in-out;
  will-change: background-color;
}

dl dd label input[type='checkbox']:checked {
  background-color: var(--correct);
}

dl dd label input[type='checkbox']::before {
  content: "";
  position: absolute;
  left: 5px;
  height: calc(50px - 10px);
  width: calc(50px - 10px);
  background-color: var(--light);
  transition: 0.3s left ease-in-out;
  will-change: left;
  z-index: 20;
  border-radius: 25px;
}

dl dd label input[type='checkbox']:checked::before {
  left: calc(50% + 5px);
}